<div class="index-body">
    <nav class="rewards-nav">
        <div class="to-left text-rewards">
            <div>
                <a href="#firstname">{{firstname}}</a>
                <a href="#overview">Overview</a>
            </div>
            <h1 class="rewards-username" id="firstname">Welcome <span>{{fullname}}</span></h1>
        </div>

        <div class="to-right reward-layout-btns">
            {{!-- <a href="/rewards/seeRewards">See your rewards</a> --}}
            <a href="/rewards/addyourpoints">Add your points</a>
            {{!-- <a href="" class="ai-meal-plan">AI Meal Plan Generator</a> --}}
        </div>
    </nav>

    <div>
        <div>
            {{#if redeemed}}
            {{#each redeemed}}
            <div>
                <h4>{{rewardName}}</h4>
                <p>{{rewardType}}</p>
                <p>{{rewardDescription}}</p>
            </div>
            {{/each}}
            {{else}}
            <h2>You dont have any rewards</h2>
            {{/if}}

    </div>

    <div id="overview">

        <h2>My Rewards:</h2>
        <h1 class="points-title"> Available Points: <br><span>{{points}}</span></h1>


        <h1>As a <span>Motek Hero</span></h1>
        <p>you'll have access to these rewards</p>
        <div>
            {{#if rewards}}
            {{#each rewards}}
            <div>
                <h4>{{rewardName}}</h4>
                <p>{{rewardType}}</p>
                <p>{{rewardDescription}}</p>
                <h4>{{points}}</h4>
                  <form action="/rewards/redeem" method="post">
                <button type="submit">Redeem</button>
                </form>
            </div>
            {{/each}}
            {{else}}
            <h2>No Rewards Available</h2>
            {{/if}}
        </div>
    </div>
</div>